<div class="menu_bar">
  <stron><%= date_swicher(params[:fecha]) %></strong> 
</div>

<hr />
<h1>Listing colas</h1>

<table class="hiliteme">
  <tr>
    <th>Punto de Servicio</th>
    <th>Pendientes</th>
    <th>Finalizados</th>
  </tr>

<% @colas.each do |cola| %>
  <tr>
    <td><%= link_to cola.punto_servicio.descripcion, pacientes_cola_path(cola.punto_servicio.id, :fecha => params[:fecha]) %></td>
    <td><%= cola.pendientes %></td>
    <td><%= cola.finalizados %></td>
  </tr>
<% end %>
</table>

