<h1>Listing colas</h1>

<table>
  <tr>
    <th>Punto de Servicio</th>
    <th>Cuenta</th>
  </tr>

<% @colas.each do |cola| %>
  <tr>
    <td><%= cola.punto_servicio.descripcion %></td>
    <td><%= cola.cantidad %></td>
  </tr>
<% end %>
</table>

