$inst_color: #FFA500;

#title {
  margin: 1px 1px;
  padding: 17px 3px;
  background: $inst_color;
  color:white;
  text-align:left;
}

#footer {
  margin: 1px 1px;
  padding: 1px 3px;
  background: $inst_color;
  color:white;
  text-align:center;
}
.menu_bar a {
  display: inline;
  padding: 2px;
  border: 1px dotted $inst_color;
  text-decoration: none;
  color: black;
  &:visited { color: black;}
  &:hover {color: darkgreen;
    background: lighten($inst_color, 20%);
    }
  }

th {
  background-color: $inst_color;
  color: white;
  }

a {
  color: blue;
  text-decoration: none;
  &:visited { color: black; }
  &:hover { color: blue; }
}

table, td, th {
  border:  1px solid gray;
  border-collapse: collapse;
  padding: 0px 3px;
  th {color: white;
    a {
      color: white;
      &:visited {color: white;}
      &:hover {color: blue;}
      }
  }
  a {
    color: blue;
    &:visited { color: blue; }
    &:hover { color: red; }
    }  
  }


table tr.evenrow {background-color: white; }
table tr.oddrow {background-color: Gainsboro; }
table tr.highlight {background-color: lightblue; } 
hr { margin: 2px 1px; }
#user_nav {
  margin: 1px 1px;
  padding: 0px 0px;
  background: darkblue;
  color: white;
  text-align: right;
  a {color: lightgrey;}
}
