<h1>Cola de espera por Puntos de Servicio</h1> 
<h3>Hasta las <%= Time.now.to_formatted_s(:time) %> de hoy.</h3>
<hr />

<table>
  <tr>
    <th>Puntos de Servicio</th>
    <th>Cantidad</th>
  </tr>

<% @puntos_servicios.each do |ps| %>
  <tr>
    <td><%= ps.descripcion %></td>
    <td><%= ps.cantidad %></td>
  </tr>
<% end %>
</table>
<br />
