<h1>Carga de Exámenes para SEP-HTS hasta las <%= Time.now.to_formatted_s(:time) %> de hoy.</h1>


<table>
  <tr>
    <th>Examen</th>
    <th>Cantidad</th>
  </tr>

<% @exams.each do |exam| %>
  <tr>
    <td><%= link_to exam[1], estadistica_pacientes_path(:prestacion => exam[0]) %></td>
    <td><%= exam[2]%></td>
  </tr>
<% end %>
</table>
<br />
