<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @punto_servicio.descripcion %>
</p>


<%= link_to 'Edit', edit_punto_servicio_path(@punto_servicio) %> |
<%= link_to 'Back', punto_servicios_path %>
